.bouncy {
    animation: bouncy 4s 3 linear;
    position: relative;
}

@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em}
}

button.graphbtn{
    display: inline-block;
    padding:0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border:0.16em solid rgba(255, 255, 255);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    background-color: skyblue;
    text-shadow: 0 0.04em 0.04em rgba(231, 51, 51, 0.35);
    text-align: center;
    transition: all 0.2s;
}


button.graphbtn:hover {
    border-color: rgba(255, 255, 255, 1);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

button.graphbtn:active {
    background: #e6e6e6;
    -webkit-box-shadow: inset 0px 0px 5px #ffffff;
       -moz-box-shadow: inset 0px 0px 5px #ffffff;
            box-shadow: inset 0px 0px 5px #ffffff;
            color: rgb(0, 0, 0);
  }

button.graphbtn:focus {outline:0};

.helloName {
    font-family: 'Raleway', sans-serif;
}

.plainText {
    font-family: 'Raleway', sans-serif;;
}

.profileColor {
    background-color: skyblue;
}

profile_loading{
    background-color:blue;
 }
 /* .profile_greeting{
    background-color: rebeccapurple;
 } */
 .profile_wrapper{
    margin-top: 100px;
  
    /* padding: 0 20px; */
 }
 h1{
    font-weight: 600 !important;
 }
 
 h2, h3  {
    font-weight: 400 !important;
    color: rgb(255, 128, 0)
 }
 
 @media all and (max-width:480px) {
    
    img {display:block;margin:0 auto;}
   h1, h2, h3{padding:  14px;}
 }

/* .profile_greeting{
    background-color: rebeccapurple;
} */
.profile_wrapper{
    margin-top: 100px;
   
    /* padding: 0 20px; */
}
h1{
    font-weight: 600 !important;
}

h2, h3  {
    font-weight: 400 !important;

}

@media all and (max-width:480px) {
    
    img {display:block;margin:0 auto;}
   h1, h2, h3{padding: 0 15px;}
}
.redditpic {
    border: 15px solid;
    border-radius: 50%;
    margin: 0 40px;
}