
.profile_loading{
    background-color:blue;
}

.plainText {
    font-family: 'Raleway', sans-serif;;
}

.profileColor {
    background-color: skyblue;
}
.no_user{
    margin: 500px auto;
}
.home_profile_login{
    margin-top: 400px;
    
}

.helloBlue {
    color:  #297fca;

}

.profile_wrapper{
    margin-top: 100px;
   
    /* padding: 0 20px; */
}
h1{
    font-weight: 600 !important;
}

h2, h3  {
    font-weight: 400 !important;

}

.loading{
    width: 350px;
    margin-left: 0;
   
    margin-top: 100px;
    display: block;
      }
    .loading img{
      height: 450px;
      display: block;
      margin-left: 200px;;
    }


@media all and (max-width:480px) {
    
    img {display:block;margin:0 auto;}
   h1, h2, h3{padding: 0 15px;}
}
.redditpic {
    border: 15px solid;
    border-radius: 50%;
}

.Profile_loading{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin-top: 16%;
    margin-left: 40%;
}