.home_body{
    background: white;
}

.home_wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    /* background: blue; */
}
.moodit_logo{
    height: 50px;
    padding-bottom: 10px;
    margin-top: -10px;
}

.home_profile_login{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;
    grid-gap: 20px;
    margin-top: 100px !important;
   margin-bottom: 100px;
}

.home_profile_login img{
    height: 300px;
   
}
.home_login{
    align-self: center;
}
.home_login h1{
    font-weight: 600;
    color:#297fca;
}


video{
    position: absolute;
    top: 50;
    left: 0;
    right:0;
    width: 100%;
    z-index: 1;
}
.home_hero{
    width: 100vw;
    min-height: 400px;
}
.home_hero img{
    z-index: -5;
    width: 100%;
}

.home_section3{
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%,rgba(104, 152, 163, 0.8) 99%); */
    height: 600px;
    text-align: center;
    margin-top: 80px;
    
}

@media all and (max-width:1000px) {
    
    .home_login h1{
        font-size: 33px;
        font-weight: 400;
        color:#297fca;
    }
    .home_login{
        grid-template-columns: 30px 1fr 1fr 30px;
        justify-self: center;
        text-align: center;
        width: 100%;
    }
    .fa  {
        visibility:hidden;
    }

}


@media all and (max-width:760px) {
    
    .home_profile_login{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        justify-self: center;
        text-align: center;
    }
    .home_profile_login h1{
        font-size: 22px !important;
    }
    
    .home_profile_login img{
        height: 250px;
        justify-self: center;
        margin: 0 auto;
    }
    .home_login{
        width: 300px;
        justify-self: center;
        text-align: center;
    }

}
