.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.myinput {
  width: 300px;
  margin: 0 auto;
  
}

/* .btn-default {
  background-color: rgb(122, 215, 243) !important;
} */

.md-form .form-control {
  width: 400px;
  margin: 0 auto;
}
/* .btn-default {
  background-color: #33b5e5 !important;
  color: #ffffff !important;
} */

.fa-user:before {
  content: "\F007";
  color: #9c9c9c;
}


.redditpic {
  border-radius: 50%;
}