.card_grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 20px;
  padding: 0 20px;
}
.mood_key{
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-gap: 10px;
}
.key_moods{
  text-align: center;
  color: white;
  padding: 5px;
  font-size:16px;
  font-weight: 400;
  cursor: pointer;
}
.joy{
  background-color: rgb(105, 153, 51);
}
.analytical{
  background-color: rgb(153, 151, 51);
}
.angry{
  background-color: rgb(158, 27, 27);
}
.sad{
  background-color: rgb(124, 32, 94);
}
.tentative{
  background-color: rgb(153, 51, 139);
}
.happy{
  background-color: rgb(37, 128, 123);
}
.depressed{
  background-color: rgb(51, 54, 233);
}
.all{
  background-color: rgb(172, 114, 230);
}
.post_tones{
  margin-right: 5px;
}
.mood_bar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
    height: 30px;
    width: 100%;
    background-color: red;
}
.post_card {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  align-items: center;
  height: 400px;
  overflow: hidden;
}
.card_header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 60px;
  width: 100%;
  height: 150px;
  background: linear-gradient(to right, #1e5799 0%,#207cca 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  text-align: center;
  color: white;
  font-weight: 100;
}
.post_title {
  padding: 10px 20px;
  grid-column: 1/3;
}
.card_header h1 {
  font-weight: 600;
}
.card_header h2 {
}
.card_header a {
  font-weight: 600;
  color: white;
    }

  .subreddit_title{
    position: absolute;
    bottom: -10px !important;
    left: 15px;
    background-color: green;
  }
  .subreddit_title h4, p {
    display: inline-block;
 }
 .comment_nums{
   display: inline-block;
  position: absolute;
  bottom: -10px !important;
  margin-left: 70px;
  right: 15px;
  background-color: red;
  height: 20px;
 }
  
  .subreddit_title h4 {
    font-size: 16px;
    margin-right: 10px;
  }

.post_comments{
    padding: 15px;
}
.comments{
  height: 20px;
  width: 20px;
}
.comment_container{
  overflow: hidden;
}
.comment_container p{
  font-style: italic;
  font-size: 15px;
  line-height: 17px;
  margin-bottom: -12px;
}
._readMore{
  height: 20px;
  width: 100%;
  background: lightgray;
}
/* .shadow{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */
  .loading{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin-top: 16%;
    margin-left: 40%;
  }

  .nothing_to_show{
    margin-top: 400px;
    background: gray;
    height: 40px;
    width: 200px;
  }


  ._post_card {
    display: grid;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    align-items: center;
    height: 400px;
    overflow: hidden;
  }

  ._cardHeader {
    background: linear-gradient(to right, #1e5799 0%,#207cca 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    min-height: 150px;
    
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, .2);
    display: grid;
    grid-template-columns: 1fr 1fr 65px;
    grid-template-rows: auto 20px 30px;
    grid-template-areas:
      "title  title   title"
      "subreddit  subreddit  subreddit  "
      "emotions  emotions   emotions"
  }
  ._cardHeader h4{
    font-size: 18px;
    font-weight: 400;
  }
  ._cardHeader p{
    margin-bottom: -17px !important;
    font-size: 14px;
  }
  ._cardTitle {
    grid-area: title;
   color: white;
    padding: 0 15px;
    margin-top: 10px;
  }

  ._subreddit {
    grid-area: subreddit;
    margin-left: 15px;
    color: white;
  }

  ._subreddit img{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-right: 3px;
  }

  ._comments {
    grid-area: comments;
    color: white;
    text-align: right;
    margin-right: 15px;
  }
  ._comments p{
    margin-left: 5px;

  }

  ._comments img{
    height: 20px;
    width: 20px;
  }

  ._emotions {
    grid-area: emotions;
    color: white;
    margin-left: 15px;

  }